<!DOCTYPE html>
<html>
<head>
    <title>Apply Classifier to Images Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/svg.select.js@3.0.1/dist/svg.select.min.css"/>
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/supervisely/js-bundle@{{{js_bundle_version}}}/sly-app-widgets-{{{js_bundle_version}}}.bundle.css"
    />
    <link rel="stylesheet" href="./static/styles.css"/>
</head>

<body>

<script src="https://cdn.jsdelivr.net/gh/supervisely/js-bundle@2.1.44/sly-app-widgets-2.1.44.bundle.js"></script>
<script
  type="module"
  src="https://cdn.jsdelivr.net/gh/supervisely-ecosystem/supervisely-app-frontend-js@v0.0.42/SlyApp.js"
></script>


<div id="sly-app">
    <sly-app>
        <template v-slot="{ post, state, data }">

             <sly-stepper :active="data.current_step">
                <sly-stepper-item> {% include 'stepper/step_1_input_projects.html' %}</sly-stepper-item>
                <sly-stepper-item> {% include 'stepper/step_2_connect_to_model.html' %}</sly-stepper-item>
                <sly-stepper-item> {% include 'stepper/step_3_labeling_preferences.html' %}</sly-stepper-item>
                <sly-stepper-item> {% include 'stepper/step_4_output_data.html' %}</sly-stepper-item>
             </sly-stepper>

        </template>
    </sly-app>
</div>

</body>
</html>

